<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold"> Login System</h2>
            <span>Log in for the existing user</span>
            <% if(locals.logout){ %>
            <div class="alter alert-success text-center">
                <%= logout %>
            </div>
            <% } %>
        </div> 
        <form action="/route/login" method="Post" class="pt-3">
            <div class="form-group">
                <input type="email" name="email" placeholder="Enter email" class="form-control">
                <small class="form-text text-muted text-left">Register email address </small>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Enter password" class="form-control">
            </div>

            <button type="submit" class="btn btn-success rounded-pill">Submit</button>

        </form>
    </div>
</div>

<%- include('footer') -%>